<section class="w3-container w3-card-4 w3-padding-12">
    <header>
        <h1>Presentation</h1>
    </header>
    <main>
        <aside class="w3-right">
            <figure>
                <img src="{{ profiles.0.picture.url }}">
            </figure>
        </aside>
        <article class="w3-padding-24">
            <p>First Name: {{ profiles.0.first_name }}</p>
            <p>Last Name: {{ profiles.0.last_name }}</p>
            <p>Age: {{ profiles.0.age }}</p>
            <p>About me: {{ profiles.0.intro }}</p>
        </article>
    </main>
</section>