<section class="w3-container w3-card-4">
    <header class="w3-center">
        <h1>Presentation</h1>
    </header>
    <main>
        {% for profile in profiles %}
        <p>First Name: {{ profile.first_name }}</p>
        <p>Last Name: {{ profile.last_name }}</p>
        <p>Age: {{ profile.age }}</p>
        <aside>
            <figure>
                <img src="{{ profile.picture.url }}">
            </figure>
        </aside>
        <p>About me: {{ profile.intro }}</p>
        {% empty %}
            <p>No presentations.</p>
        {% endfor %}
    </main>
</section>